/* Projects */

	.projects {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		list-style: none;
		padding: 0;
		width: 100%;
	}

		.projects li {
			padding: 4em 4em 3em 6em ;
			display: block;
			position: relative;
			text-align: left;
			width: 50%;
		}

			.projects li:nth-child(1) {
				background-color: rgba(0, 0, 0, 0.035);
			}

			.projects li:nth-child(2) {
				background-color: rgba(0, 0, 0, 0.07);
			}

			.projects li:nth-child(3) {
				background-color: rgba(0, 0, 0, 0.105);
			}

			.projects li:nth-child(4) {
				background-color: rgba(0, 0, 0, 0.14);
			}

			.projects li:nth-child(5) {
				background-color: rgba(0, 0, 0, 0.175);
			}

			.projects li:nth-child(6) {
				background-color: rgba(0, 0, 0, 0.21);
			}

			.projects li:nth-child(7) {
				background-color: rgba(0, 0, 0, 0.245);
			}

			.projects li:nth-child(8) {
				background-color: rgba(0, 0, 0, 0.28);
			}

			.projects li:nth-child(9) {
				background-color: rgba(0, 0, 0, 0.315);
			}

			.projects li:nth-child(10) {
				background-color: rgba(0, 0, 0, 0.35);
			}

			.projects li:before {
				display: block;
				color: #00ffcc;
				position: absolute;
				left: 1.75em;
				top: 2.75em;
				font-size: 1.5em;
			}

			.projects li:nth-child(1) {
				border-top-left-radius: 3px;
			}

			.projects li:nth-child(2) {
				border-top-right-radius: 3px;
			}

			.projects li:nth-last-child(1) {
				border-bottom-right-radius: 3px;
			}

			.projects li:nth-last-child(2) {
				border-bottom-left-radius: 3px;
			}

			@media screen and (max-width: 980px) {

				.projects li {
					padding: 3em 2em 1em 2em ;
					text-align: center;
				}

					.projects li:before {
						left: 0;
						margin: 0 0 1em 0;
						position: relative;
						top: 0;
					}

			}

			@media screen and (max-width: 736px) {

				.projects li {
					padding: 3em 0 1em 0 ;
					background-color: transparent !important;
					border-top: solid 2px #fff;
					width: 100%;
				}

					.projects li:first-child {
						border-top: 0;
					}

			}

		.projects .image {
			overflow: hidden;
			margin: 0;
		}

			.projects .image img {
				margin:-38.885% 0;
				width:177.777%;
			}
